html
{
   position: relative;
   height: 100%;
}

main
{
   height: auto;
   margin-bottom: 60px;
}

footer
{
   position: absolute;
   bottom: 0;
   height: 60px;
}

.card-body
{
   padding: 2px;
}

hr
{
   margin-top: 0;
}

ul
{
   z-index: 9999;
}

.btn-group-vertical
{
   display: block;
}

.btn
{
   border-radius: 0;
}

.container-fluid
{
   padding: 0;
}

.row
{
   margin: 0;
}

.col-md-3
{
   padding: 0;
}

.navbar-brand
{
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow
{
   from
   {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 6px #e60073, 0 0 7px #e60073;
   }
  
   to
   {
      text-shadow: 0 0 2px #fff, 0 0 3px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
   }
}

.card
{
   margin-top: 5px;
}
